.page-container{
    padding:20px;
    height:auto;
    .heading{
        padding-left:20px
    }
    .galleryList{
        list-style: none;
        width: 100%;
        margin: 0;
        padding: 0;

        .listImg{
            width: 33%;
            float: left;
            padding: 20px;
            
        }
    }
}