<div class="page-container">

<ms-form-wizard flex>
    <md-tabs md-dynamic-height md-selected="msWizard.selectedIndex" md-center-tabs="true">
        <md-tab>
            <md-tab-label>
            <span class="ms-form-wizard-step-label">
                <span class="ms-form-wizard-step-number md-accent-bg" ng-if="wizardStep1.$invalid">1</span>
                <span class="ms-form-wizard-step-number md-accent-bg" ng-if="wizardStep1.$valid">
                    <i class="icon-check s16"></i>
                </span>
                <span class="ms-form-wizard-step-text">Personal Information</span>
            </span>
            </md-tab-label>
            <md-tab-body>
                <form name="wizardStep1" class="md-inline-form" ms-form-wizard-form novalidate>
                    <div layout="column" layout-gt-xs="row" flex>
                        <md-input-container flex="100" flex-gt-xs="50">
                            <input type="text" name="name" ng-model="vm.formWizard.name" placeholder="Name" required>
                            <div ng-messages="wizardStep1.name.$error" ng-show="wizardStep1.name.$touched" role="alert">
                                <div ng-message="required">
                                    <span>Name field is required.</span>
                                </div>
                            </div>
                        </md-input-container>
                        </div>
                        <div layout="column" layout-gt-xs="row" flex>
                        <md-input-container flex="100" flex-gt-xs="50">
                            <input type="email" name="email" ng-model="vm.formWizard.email" placeholder="Email" required>
                            <div ng-messages="wizardStep1.email.$error" ng-show="wizardStep1.email.$touched" role="alert">
                                <div ng-message="required">
                                    <span>Email field is required.</span>
                                </div>
                            </div>
                        </md-input-container>
                    </div>
                </form>
            </md-tab-body>
        </md-tab>
        <md-tab ng-disabled="wizardStep1.$invalid">
            <md-tab-label>
            <span class="ms-form-wizard-step-label">
                <span class="ms-form-wizard-step-number md-accent-bg" ng-if="wizardStep2.$invalid">2</span>
                <span class="ms-form-wizard-step-number md-accent-bg" ng-if="wizardStep2.$valid">
                    <i class="icon-check s16"></i>
                </span>
                <span class="ms-form-wizard-step-text">Quiz</span>
            </span>
            </md-tab-label>
            <md-tab-body>
                <form name="wizardStep2" ms-form-wizard-form novalidate>

                <ul class="list-group" ng-repeat="ques in oc.questions" >
  					<li class="list-group-item">{{$index+1}} ) {{ques.Q}}</li>


  					<md-input-container flex="100" flex-gt-xs="50">
                            <input type="text" name="ans" ng-model="oc.ans" placeholder="Answer" required>
                            <div ng-messages="wizardStep2.ans.$error" ng-show="wizardStep2.ans.$touched" role="alert">
                                <div ng-message="required">
                                    <span>Answer field is required.</span>
                                </div>
                            </div>
                        </md-input-container>

  					<!-- <span ng-repeat="optionName in ques.options">

  						<input type="radio" name="ans" ng-model="ans1" required>{{optionName.op}}

  						<div ng-messages="wizardStep2.ans.$error" ng-show="wizardStep2.ans.$touched" role="alert">
                                <div ng-message="required">
                                    <span>Answer is required.</span>
                                </div>
                            </div>
  					</span> -->

				</ul>


                   
                </form>
            </md-tab-body>
        </md-tab>
        <md-tab ng-disabled="wizardStep1.$invalid || wizardStep2.$invalid">
            <md-tab-label>
            <span class="ms-form-wizard-step-label">
                <span class="ms-form-wizard-step-number md-accent-bg" ng-if="wizardStep3.$invalid">3</span>
                <span class="ms-form-wizard-step-number md-accent-bg" ng-if="wizardStep3.$valid">
                    <i class="icon-check s16"></i>
                </span>
                <span class="ms-form-wizard-step-text">Result</span>
            </span>
            </md-tab-label>
            <md-tab-body>
                <form name="wizardStep3" ms-form-wizard-form novalidate>
                   <b ng-show="oc.ans==2 || oc.ans.toLowerCase=='two'">Pass</b>
                   <b ng-show="oc.ans!=2 &&  oc.ans.toLowerCase!='two'">Fail</b>
                </form>
            </md-tab-body>
        </md-tab>
    </md-tabs>
    <div class="navigation" flex layout="row" layout-align="center center">
        <md-button class="md-raised md-accent" ng-click="msWizard.previousStep()" ng-disabled="msWizard.isFirstStep()">
            Previous
        </md-button>
        <div class="steps">
        <span ng-repeat="form in msWizard.forms" ng-class="{'selected md-accent-bg':msWizard.selectedIndex === $index}"></span>
        </div>
        <md-button class="md-raised md-accent" ng-click="msWizard.nextStep()" ng-hide="msWizard.isLastStep()" ng-disabled="msWizard.currentStepInvalid()">
            Next
        </md-button>
        <md-button class="md-raised md-warn"  ng-show="msWizard.isLastStep()" ng-disabled="msWizard.formsIncomplete()">
            Result
        </md-button>
    </div>
</ms-form-wizard>
</div>
