<h2>
  {{vm.headLine}}
</h2>
<h4>
  {{vm.content}}
</h4>
<md-expansion-panel-group md-component-id="panelGroup" multiple>
  <md-expansion-panel md-component-id="panelOne">

    <md-expansion-panel-collapsed>
      <div class="md-title" ng-click="vm.handleAllPanels();">Xamarin</div>
      <div class="md-summary" ng-click="vm.handleAllPanels();">Hybrid App Development Framework</div>
      <md-expansion-panel-icon></md-expansion-panel-icon>
    </md-expansion-panel-collapsed>


    <md-expansion-panel-expanded>

      <md-expansion-panel-header>
        <div class="md-title" ng-click="vm.handleAllPanels();">Xamarin</div>
        <div class="md-summary" ng-click="vm.handleAllPanels();">Hybrid App Development Framework</div>
        <md-expansion-panel-icon></md-expansion-panel-icon>
      </md-expansion-panel-header>

      <md-expansion-panel-content>
        <h4>Content</h4>
        <p>Sample comes here...</p>
      </md-expansion-panel-content>

      <md-expansion-panel-footer>
        <div flex></div>
        <md-button class="md-warn" ng-click="$panel.collapse();vm.handleAllPanels();">Collapse</md-button>
      </md-expansion-panel-footer>

    </md-expansion-panel-expanded>

  </md-expansion-panel>

  <md-expansion-panel md-component-id="panelTwo">
    <md-expansion-panel-collapsed>
      <div class="md-title" ng-click="vm.handleAllPanels();">Phonegap</div>
      <div class="md-summary" ng-click="vm.handleAllPanels();">Hybrid App Development Framework</div>
      <md-expansion-panel-icon></md-expansion-panel-icon>
    </md-expansion-panel-collapsed>
    <md-expansion-panel-expanded>
      <md-expansion-panel-header>
        <div class="md-title" ng-click="vm.handleAllPanels();"> Phonegap</div>
        <div class="md-summary" ng-click="vm.handleAllPanels();">Hybrid App Development Framework</div>
        <md-expansion-panel-icon></md-expansion-panel-icon>
      </md-expansion-panel-header>
      <md-expansion-panel-content>
        <p>Sample comes here...</p>
      </md-expansion-panel-content>
      <md-expansion-panel-footer>
        <div flex></div>
        <md-button class="md-warn" ng-click="$panel.collapse()">Collapse</md-button>
      </md-expansion-panel-footer>
    </md-expansion-panel-expanded>
  </md-expansion-panel>

  <md-expansion-panel md-component-id="panelThree">
    <md-expansion-panel-collapsed>
      <div class="md-title" ng-click="vm.handleAllPanels();">Ionic Framework</div>
      <div class="md-summary" ng-click="vm.handleAllPanels();">Hybrid App Development Framework</div>
      <md-expansion-panel-icon></md-expansion-panel-icon>
    </md-expansion-panel-collapsed>
    <md-expansion-panel-expanded>
      <md-expansion-panel-header>
        <div class="md-title" ng-click="vm.handleAllPanels();"> Ionic Framework</div>
        <div class="md-summary" ng-click="vm.handleAllPanels();">Hybrid App Development Framework</div>
        <md-expansion-panel-icon></md-expansion-panel-icon>
      </md-expansion-panel-header>
      <md-expansion-panel-content>
        <p>Sample comes here...</p>
      </md-expansion-panel-content>
      <md-expansion-panel-footer>
        <div flex></div>
        <md-button class="md-warn" ng-click="$panel.collapse()">Collapse</md-button>
      </md-expansion-panel-footer>
    </md-expansion-panel-expanded>
  </md-expansion-panel>

  <md-expansion-panel md-component-id="panelFour">
    <md-expansion-panel-collapsed>
      <div class="md-title" ng-click="vm.handleAllPanels();">Framework 7</div>
      <div class="md-summary" ng-click="vm.handleAllPanels();">Hybrid App Development Framework</div>
      <md-expansion-panel-icon></md-expansion-panel-icon>
    </md-expansion-panel-collapsed>
    <md-expansion-panel-expanded>
      <md-expansion-panel-header>
        <div class="md-title" ng-click="vm.handleAllPanels();"> Framework 7</div>
        <div class="md-summary" ng-click="vm.handleAllPanels();">Hybrid App Development Framework</div>
        <md-expansion-panel-icon></md-expansion-panel-icon>
      </md-expansion-panel-header>
      <md-expansion-panel-content>
        <p>Sample comes here...</p>
      </md-expansion-panel-content>
      <md-expansion-panel-footer>
        <div flex></div>
        <md-button class="md-warn" ng-click="$panel.collapse()">Collapse</md-button>
      </md-expansion-panel-footer>
    </md-expansion-panel-expanded>
  </md-expansion-panel>

  <md-expansion-panel md-component-id="panelFive">
    <md-expansion-panel-collapsed>
      <div class="md-title" ng-click="vm.handleAllPanels();">Mobile Angular UI</div>
      <div class="md-summary" ng-click="vm.handleAllPanels();">Hybrid App Development Framework</div>
      <md-expansion-panel-icon></md-expansion-panel-icon>
    </md-expansion-panel-collapsed>
    <md-expansion-panel-expanded>
      <md-expansion-panel-header>
        <div class="md-title" ng-click="vm.handleAllPanels();"> Mobile Angular UI</div>
        <div class="md-summary" ng-click="vm.handleAllPanels();">Hybrid App Development Framework</div>
        <md-expansion-panel-icon></md-expansion-panel-icon>
      </md-expansion-panel-header>
      <md-expansion-panel-content>
        <p>Sample comes here...</p>
      </md-expansion-panel-content>
      <md-expansion-panel-footer>
        <div flex></div>
        <md-button class="md-warn" ng-click="$panel.collapse()">Collapse</md-button>
      </md-expansion-panel-footer>
    </md-expansion-panel-expanded>
  </md-expansion-panel>

</md-expansion-panel-group>